# Application settings
APP_NAME=celan_arch_prototype
APP_PORT=8000
APP_DOMAIN=http://localhost:8000
APP_DATA_DIR=./data
#APP_DEBUG=true

# build settings
TAG=dev

# Auth settings
APP_AUTH_JWT_SECRET=super-secret-key-for-jwt-signing-change-in-production
#AUTH_JWT_ALGORITHM=HS256
#AUTH_JWT_ACCESS_EXPIRE_SECONDS=900
#AUTH_JWT_REFRESH_EXPIRE_SECONDS=604800
#AUTH_ALLOW_SIMPLE_PASSWORDS=false

# Superuser settings
APP_ADMIN_EMAIL=admin@example.com
APP_ADMIN_PASSWORD=admin123

# Database settings
#APP_DB_HOST=localhost
#DB_PORT=5432
APP_DB_NAME=app_db
APP_DB_USER=app_user
APP_DB_PASSWORD=password
